@charset 'utf-8';

/*---------------------------------------Fontes---------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); /*Fonte Questrial - Para Textos ou Títulos*/
/*font-family: 'Questrial', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap'); /* Fonte Courier Prime - Secundária */
/*font-family: 'Courier Prime', monospace;*/




/*-------------------------------------Paleta de cores---------------------------------------------*/


:root{
   --branco: #ffffff;
   --preto: #020202;
   --background-site-geral: #020202f0;
   --persianblue: #192bc2;
   --capri: #0abaff;

   scroll-behavior: smooth;
}



.about{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.about .container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.about .container{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.about .container .box-img{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2%;
}
.about .container .box-img .bxImg{
    position: absolute;
    width: 70%;
    height: 90%;
    background: var(--capri);
    margin: auto;
    z-index: 1;
}
.about .container .box-img .bxImg .img{
    width: 80%;
    height: 90%;
    background: url(imagens/tobias-rademacher-kUKF6fv0uss-unsplash.jpg);
    background-size: cover;
    position: absolute;
    top: 5%;
    left: 16%;
}

.about .container .box-img .bxTitle{
    position: absolute;
    z-index: 2;
    top: 46%;
    left: 2%;
    color: white;
    transform: rotateZ(-90deg);
}
.about .container .box-img .bxTitle h2{
    font-size: 52px;
    font-family: 'Questrial', sans-serif;
}



.about .container .box-text{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.about .container .box-text .bxTitle{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.about .container .box-text .bxTitle .Title{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.about .container .box-text .bxTitle .Title h2{
    font-family: 'Courier Prime', monospace;
    font-size: 32px;
    color: var(--branco);
}
.about .container .box-text .bxTitle .line{
    width: 40%;
    height: 10%;
    background: var(--capri);
}
.about .container .box-text .text{
    width: 85%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.about .container .box-text .text p{
    color: white;
    font-family: 'Questrial', sans-serif;
    font-size: 20px;
}


.about .button{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.about .button .line{
    width: 20%;
    height: 10%;
    background: var(--capri);
    margin-right: 2%;
}
.about .button a{
    text-decoration: none;
    color: var(--branco);
    font-family: 'Courier Prime', monospace;
    font-size: 18px;
    transition: all .3s;
    position: relative;
    animation: linkContato 1s infinite alternate;
}
@keyframes linkContato {
    from{
        right: 0%;
    }
    to{
        right: 1%;
    }
}
.about .button a:hover{
    color: var(--capri);
}



/*-------------Seção habilidades---------------------------------*/

.habilities{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.habilities .box-title{
    width: 20%;
    height: 100%;
    display: flex;
    position: relative;
}
.habilities .box-skills{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



/*-----------------------Responsividade geral-----------------------------*/
@media (max-width: 1025px) {
    .about .container .box-img .bxImg{
        width: 90%;
    }
    .about .container .box-img .bxTitle{
        left: -12%;
    }
}
@media (max-width: 950px) {
    
    .about{
        padding-bottom: 6%;
    }
    .about-title{
        align-items: baseline;
    }
    .about-content{
        margin-top: 2%;
        flex-direction: column;
    }
    .about-content .text{
        width: 100%;
    }
    .about-content .text p{
        font-size: 17px;
    }
    .about-content .content{
        width: 60%;
    }

}
@media (max-width: 750px){
    .about .container .box-img{
        display: none;
    }
    .about .container .box-text{
        width: 100%;
    }
    .about .container .box-text .bxTitle .Title h2{
        margin-left: 10%;
    }
}