@charset 'utf-8';

/*---------------------------------------Fontes---------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); /*Fonte Questrial - Para Textos ou Títulos*/
/*font-family: 'Questrial', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap'); /* Fonte Courier Prime - Secundária */
/*font-family: 'Courier Prime', monospace;*/




/*-------------------------------------Paleta de cores---------------------------------------------*/


:root{
   --branco: #ffffff;
   --preto: #020202;
   --background-site-geral: #020202f0;
   --persianblue: #192bc2;
   --capri: #0abaff;

   scroll-behavior: smooth;
}



.about{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding-top: 6%;
    padding-bottom: 2%;
}




/*-----------------------Responsividade geral-----------------------------*/
@media (max-width: 950px) {
    
    .about{
        padding-bottom: 6%;
    }
    .about-title{
        align-items: baseline;
    }
    .about-content{
        margin-top: 2%;
        flex-direction: column;
    }
    .about-content .text{
        width: 100%;
    }
    .about-content .text p{
        font-size: 17px;
    }
    .about-content .content{
        width: 60%;
    }

}
@media (max-width: 580px) {
    
    

}