@charset 'utf-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




/*---------------------------------------Fontes---------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Questrial&display=swap'); /*Fonte Questrial - Para Textos ou Títulos*/
/*font-family: 'Questrial', sans-serif;*/

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&display=swap'); /* Fonte Courier Prime - Secundária */
/*font-family: 'Courier Prime', monospace;*/




/*-------------------------------------Paleta de cores---------------------------------------------*/


:root{
   --branco: #ffffff;
   --preto: #020202;
   --background-site-geral: #020202f0;
   --persianblue: #192bc2;
   --capri: #0abaff;

   scroll-behavior: smooth;
}
body{
    background: var(--background-site-geral);
}

/*-----------------------------------------Scrollbar--------------------------------------*/
body::-webkit-scrollbar{
    width: 7px;
}
body::-webkit-scrollbar-track{
    background: var(--capri);
}
body::-webkit-scrollbar-thumb{
    background-color: var(--branco);
    border-radius: 20px;
    border: 1px solid var(--capri);
}


body{
    min-height: 5000px;
    overflow-x: hidden;
}


.menuToggle{
    display: none;
}
header{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 10vh;
    padding: 3%;
    background: transparent;
    z-index: 1000;
    transition: all .5s;
}
header.sticky{
    justify-content: space-between;
    background: var(--capri);
    padding: 10px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}
header .links{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80%;
}
header .links a{
    font-family: 'Courier Prime', monospace;
    text-decoration: none;
    color: #ffffff;
    margin: 10px;
}
header .links a:hover{
    transition: all 0.3s;
    color: var(--capri);
}
header.sticky .links a:hover{
    transition: all .3s;
    color: black;
    width: 80%;
}
header .logo{
    display: none;
    width: 10%;
}
header .logo img{
    width: 80px;
}
header.sticky .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
header .social{
    display: none;
}
header.sticky .social{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
}
header .social a img{
    margin: 5px;
    width: 25px;
    filter: invert(100%);
}
header .social a img:hover{
    position: relative;
    animation:social .1s forwards;
    transition: all;
}
@keyframes social {
    from{
        top: 0px;
    }
    to{
        top: -5px;
    }
}


/*------------------Responsividade menu-------------------------*/

.mobile-menu-button{
    background: transparent;
    border: 0;
    cursor: pointer;
}
.mobile-menu-button img{
    width: 25px;
    filter: invert(100%);
    display: none;
}

@media (max-width: 1025px){
    body{
        overflow-x: hidden;
    }
    header.sticky .logo{
        display: none;
    }
    .nav-list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
        position: absolute;
        top: 8vh;
        right: 0;
        width: 100vw;
        height: 80vh;
        background: var(--capri);
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }
    .nav-list a:hover{
        transform: translateX(42.79%);
    }
    header.sticky{
        justify-content: space-between;
    }
    .mobile-menu-button img{
        display: block;
    }


}
.nav-list.active{
    transform: translateX(0);
}
@keyframes navLinkfade {
    from {
        opacity: 0;
        transform: translateX(0px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

/*----------------------------------------------------*/
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background:#616161 url(imagens/fotis-fotopoulos-6sAl6aQ4OWI-unsplash.jpg);
    background-size: cover;
    background-blend-mode: darken;
}



main{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



/*main -------------------------------------------- conteúdo principal*/
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50%;
}
.content{
    margin-top: 20%;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
}
.content h1{
    font-family: 'Questrial', sans-serif;
    color:#ffffff;
    font-size: 64px;
}
.content h2{
    border-right: 2px solid var(--branco);
    font-family: 'Courier Prime', monospace;
    color: var(--capri);
    font-size: 44px;
    white-space: nowrap;
    overflow: hidden;
}
.typing-animation{
    animation: cursor .65s steps(40) infinite normal, typing 4s steps(40) 1s normal both;
}
@keyframes typing {
    from{
        width: 0;
    }
    to{
        width: 12em;
    }
    
}
@keyframes cursor {
    from{
        border-right-color: var(--branco);
    }
    to{
        border-right-color: transparent;
    }
}
.social-banner{
    width: 50%;
    height: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    margin-right: 8%;
    margin-bottom: 5%;
}
.social-banner a img{
    width: 25px;
    margin: 20%;
}
.social-banner a img:hover{
    position: relative;
    animation: move2 .1s forwards;
    transition: all;
}
@keyframes move2 {
    from{
        right: 0px;
    }
    to{
        right: 5px;
    }
    
}

.arrow{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-left: 8%;
    margin-bottom: 5%;
}
.arrow p{
    color: #ffffff;
    transform: rotateZ(-90deg);
}
.arrow img{
    width: 45px;
    transform: rotateZ(90deg);
    position: relative;
    animation: move 1.5s infinite alternate;
}
@keyframes move {
    from{
        top: 0px;
    }
    to{
        top: 75px;
    }
}



/*-----------------------Responsividade geral-----------------------------*/
@media (max-width: 950px) {
    
    .box{
        margin-bottom: 2%;
    }
    .content{
        margin-top: 30%;
    }

}
@media (max-width: 580px) {
    
    .box{
        margin-bottom: 5%;
    }
    .content{
        margin-top: 35%;
    }
    .content h1{
        font-size: 54px;
    }
    .content h2{
        font-size: 34px;
    }
}